<div class="row form-group">
  <label>Empresa Destino:</label>
  <select name="empresa" id="empresa" class="form-control" [(ngModel)]="mensaje.empresa">
    <option *ngFor="let empresa of empresas" [ngValue]="empresa">{{empresa.nombre}}</option>
  </select>
</div>


<form>
    <div>
      <label>Longitud de texto escrito: {{tamTexto}}</label>
      <div class="row form-group">
        <textarea class="form-control" [maxlength]="tamMaxTexto" rows="5"
         name="txtTexto" [(ngModel)]="mensaje.texto"
          (ngModelChange)="cambiarTamTexto()">
        </textarea>
      </div>
      <div class="row form-group">
        <button type="button" class="btn btn-primary" (click)="enviarMensaje()">Enviar</button>
        <button type="button" class="btn btn-primary" (click)="actualizarMensaje()">Actualizar</button>
      </div>
    </div>
  </form>

<table class="table table-striped" [mfData]="mensajes" #mf="mfDataTable" [mfRowsOnPage]="5">
  <thead>
    <tr>
      <th>
        <mfDefaultSorter by="id">Id</mfDefaultSorter>
      </th>
      <th>
        <mfDefaultSorter by="desde">Desde</mfDefaultSorter>
      </th>
      <th>
        <mfDefaultSorter by="Para">Para</mfDefaultSorter>
      </th>
      <th>
        <mfDefaultSorter by="texto">Texto</mfDefaultSorter>
      </th>
      <th>
        <mfDefaultSorter by="fecha">Fecha</mfDefaultSorter>
      </th>
      <th>
        <mfDefaultSorter by="empresa.nombre">Empresa</mfDefaultSorter>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of mf.data">
      <td>{{item.id}}</td>
      <td>{{item.desde}}</td>
      <td>{{item.para}}</td>
      <td>{{item.texto}}</td>
      <td>{{item.fecha.timestamp * 1000 | date: 'dd/MM/yyyy'}}</td>
      <td>{{item.empresa.nombre | uppercase}}</td>
      <td>
        <button type="button" class="btn btn-primary" (click)="elegirMensaje(item)">Sel</button>
      </td>
      <td>
        <button type="button " class="btn btn-default" (click)="borrarMensaje(item.id)">Del</button>
      </td>
    </tr>
  </tbody>
  <tfoot>
    <tr>
      <td colspan="4">
        <mfBootstrapPaginator [rowsOnPageSet]="[5,10,25]"></mfBootstrapPaginator>
      </td>
    </tr>
  </tfoot>


